# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.swf
*.html
*.fla
*.txt
*.css
*.js
Mogui/DezhouLobby/builder/Adobe AIR/Versions/1.0/Resources/WebKit.dll
*.xml
*.dll
*.dll
*.dll
*.exe
*.vch
*.vch
*.vch
Mogui/DezhouLobby/builder/help/advanced_use.jpg
Mogui/DezhouLobby/builder/Project_support.bat
Mogui/DezhouLobby/builder/help/how_to_use.jpg
Mogui/DezhouLobby/builder/lib/Swift.jar
Mogui/DezhouLobby/builder/META-INF/AIR/hash
Mogui/DezhouLobby/builder/mimetype
Mogui/DezhouLobby/builder/MornUILib.swc